.plans {
  margin-top: -4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.plans-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 4rem;
}


.plan-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--caloryCard);
  color: white;
  gap: 2rem;
  padding: 1.5rem;
  width: 15rem;
}

.card :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}

.card :nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
}

.card :nth-child(5) {
  font-size: 0.8rem;
}

.card > img {
  width: 2rem;
  height: 2rem;
}

.plan-cards .card:first-child > img,
.plan-cards .card:last-child > img{
 
  filter: invert(58%) sepia(90%) saturate(700%) hue-rotate(-10deg);
}

.plan-cards .card:nth-child(2) {
  background-color: var(--orange);
  transform: scale(1.1);
}

.plan-cards .card:nth-child(2) button {
  color: var(--orange);
}

.plan-cards .card:nth-child(2) button:active {
  border: 1px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}

.plan-cards .card:nth-child(2) > img {
    filter: invert(100%) brightness(2);
}

.card button {
  color: var(--darkGrey);
}

.card button:active {
  transition: 0.25s;
  background-color: transparent;
  color: var(--darkGrey);
  border: 1px solid var(--darkGrey);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feature img {
  width: 1rem;
}

.plans-blur-1 {
  width: 32rem;
  height: 23rem;
  /* top: 6rem;
  left: 0rem; */
}

.plans-blur-2 {
  width: 32rem;
  height: 23rem;
  top: 10;
  right: 0rem;
}

@media screen and (max-width: 760px) {
  .plans-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
  }
  .plan-cards {
    flex-direction: column;
  }
  
  .plan-cards .card:nth-child(2) {
    transform: none;
  }
}